<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @response.data %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @response.organization_id %>
</p>

<p>
  <strong>Respondent:</strong>
  <%= @response.respondent_id %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
