<h1>Editing Survey Invitation</h1>

<div class="columns">
  <div class="column">

    <%= form_with(model: @survey_invitation, local: true) do |form| %>
      <%= render 'form', survey_invitation: @survey_invitation, form: form %>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit "Save", class: "button is-link" %>
        </div>
        <div class="control">
          <%= link_to "Cancel", survey_invitations_path, class: "button is-link is-light" %>
        </div>
      </div>
    <% end %>

    <h3>Survey invitation link</h3>
    <%= link_to code_url(@survey_invitation.token), code_url(@survey_invitation.token) %>
  </div>
  <div class="column"></div>
</div>

