<%= form_for @survey, url: survey_path do |f| %>

<h3>When did you start feeling sick?</h3>
  <div class="field">
    <%= f.fields_for :data, @survey.data do |data| %>
    <div class="control">
    	<%= data.text_field :symptom_onset_date, type: "date", class: "input flatpickr", data: {
	  controller: "flatpickr", flatpickr_min_date: 3.weeks.ago, flatpickr_max_date: Date.today} %>
    </div>
    <% end %>
  </div>

  <p>
  Based off that date, you were likely infectious from DATE to DATE.
  </p>

  <p>
  <input type="hidden" name="next_step" value="<%= params[:step].to_i + 1 %>" />
  <%= f.submit "Next: Close contacts", class: "button is-primary is-fullwidth" %>
  </p>
<% end %>
