<div data-controller="survey">

<%= form_for @survey, url: survey_path do |f| %>
<%= f.fields_for :data, @survey.data do |data| %>

<h3>Who were you in close contact with?</h3>

<p>
"Close contacts" are members of the same household, intimate partners, or
anyone you were in an enclosed space, and within 6 feet of each other for
more than 5 minutes.
</p>

<div class="field">
    <%= label_tag :residence, "Where do you reside?", class: "label" %>
    <div class="control">
      <%= radio_button_tag :residence, "household", nil, "data-action": "change->survey#householdSelected" %>
      <%= label_tag :residence_household, "House/apartment/condo", class: "radio" %> <br>
      <%= radio_button_tag :residence, "group", nil, "data-action": "change->survey#groupSelected"  %>
      <%= label_tag :residence_group, "Institution or group setting", class: "radio is-relative is-inline-block" %>
      <span class="subtext">(e.g. college dormitories, long term care facilities (nursing homes),
      group homes, correctional facilities, or a military base)</span>
    </div>
</div>

<div id="followup_household" class="is-hidden">
  <div class="field">
    <%= label_tag :address, "What is your address?", class: "label" %>
    <div class="control">
      <%= data.text_field :address_line_1, class: "input", placeholder: "Street address" %>
    </div>
    <div class="control">
      <%= data.text_field :address_line_2, class: "input", placeholder: "Apartment, suite, unit, building, floor, etc." %>
    </div>
    <div class="control">
      <%= data.text_field :city, class: "input", placeholder: "City" %>
    </div>
    <div class="control">
      <%= data.text_field :state, class: "input", placeholder: "State" %>
    </div>
    <div class="control">
      <%= data.text_field :zip, class: "input", placeholder: "Zip code" %>
    </div>
  </div>

  <p><strong>Excluding yourself</strong>, list the people in your household <strong>over the age of 18.</p>

  <div class="contacts" data-target="survey.contacts">
    <div class="contact">
      <p class="label">Contact #<span class="contact-number">1</span></p>
      <div class="control">
        <%= data.text_field :name, class: "input", placeholder: "Name" %>
      </div>
      <div class="control">
        <%= data.telephone_field :phone, class: "input", placeholder: "Phone number" %><br>
      </div>
      <div class="control">
        <%= data.email_field :email, class: "input", placeholder: "Email address" %><br>
      </div>
    </div>
  </div>

  <p>
    <a data-action="click->survey#addContact" class="is-link">Add contact</a>
  </p>

</div>

<div id="followup_group" class="is-hidden">

  <label class="label">Please list the institutional settings you spent time in</label>

<p>
  Please provide the name, address, and phone number of the institution.
  Please indicate which days you were in each institution or group setting.
</p>

<table class="table" id="groups" data-target="survey.groupTable">
  <thead>
    <tr>
      <th class="is-size-7">Name</th>
      <th class="is-size-7">Address</th>
      <th class="is-size-7">Telephone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="is-paddingless"><%= text_field_tag :name, nil, class: "input is-small" %></td>
      <td class="is-paddingless"><%= email_field_tag :email, nil, class: "input is-small" %></td>
      <td class="is-paddingless"><%= telephone_field_tag :phone, nil, class: "input is-small" %></td>
    </tr>
    <tr>
      <td class="is-paddingless"><%= text_field_tag :name, nil, class: "input is-small" %></td>
      <td class="is-paddingless"><%= email_field_tag :email, nil, class: "input is-small" %></td>
      <td class="is-paddingless"><%= telephone_field_tag :phone, nil, class: "input is-small" %></td>
    </tr>
  </tbody>
  </table>

  <button data-action="click->survey#addMoreGroup" class="button is-primary is-small">Add another</button>

<p class="question">
  Question 2: From  <autofill date range for infectious period>, did anyone come to your home?
  <span class="subtext">Possible examples could be relatives, friends, neighbors, contractors, superintendents, home
  health aides, or first responders. Please do not include delivery personnel unless you came
  within 6 feet of them.</span>
</p>

<p>
  For each person, please give their name, telephone number and the dates you had contact with 
  them, and any additional contact information that may help us get in contact with them.
</p>

<p>
  For each reported contact, it would be helpful in the actual survey design to somehow be able
  to check whether it was one time contact, and then you would be prompted to give the date of
  last contact, or whether it’s an ongoing exposure.
</p>

</div>

<br><br> <!-- bleh -->
<p>
  <input type="hidden" name="next_step" value="<%= params[:step].to_i + 1 %>" />
  <%= f.submit "Next: Contacts at work", class: "button is-primary is-fullwidth" %>
</p>

</div>

<% end %>
<% end %>