<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @survey.data %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @survey.agency_id %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @survey.contact_id %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
