<h1>Editing Survey Invitation</h1>

<div class="columns">
  <div class="column">
    <% if @invitation.used_at %>
      <h4>Survey invitation link has been used</h4>
      <p>To resume the survey, send a link to the <%= link_to "survey login page", contacts.sign_in_path %>.
    <% else %>
      <h3>Survey invitation link</h3>
      <pre><code><%= code_url(@invitation.token) %></code></pre>
    <% end %>

    <%= form_with(model: [:agency, @invitation], local: true) do |form| %>
      <%= render 'form', invitation: @invitation, form: form %>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit "Save", class: "button is-link" %>
        </div>
        <div class="control">
          <%= link_to "Cancel", agency_invitations_path, class: "button is-link is-light" %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="column"></div>
</div>

